<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Test2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>LineString</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Trajet : ${list}">
						<td th:text="${Trajet.id}"></td>
						<td th:text="${Trajet.name}"></td>
						<td th:text="${Trajet.route}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>